# Arquivos/Diretórios do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Diretórios do Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations devem ser versionadas
#!**/migrations/*.py
#!**/migrations/__init__.py

# Arquivos do ambiente (Poetry / Virtualenv)
.venv/
env/
venv/
.venv*/
venv*/

# Arquivos de cache do IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações sensíveis
.env
*.env
.env.*

# Chaves privadas
*.pem
*.key
*.crt
*.csr
*.p12
*.p8
*.p10
*.p7b
*.p7c
*.p7m
*.p7s