{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a href="{% url 'admin:legacy_item_import_json' %}" class="addlink" title="{% trans 'Import Legacy Items via JSON' %}">
      {% trans 'Importar via JSON' %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:legacy_item_download_links' %}" class="addlink" title="{% trans 'Download Legacy Links' %}" style="background-color: #28a745; color: white;">
      📥 {% trans 'Download Links TXT' %}
    </a>
  </li>
{% endblock %}
