{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a href="{% url 'admin:nft_nftitem_import_json' %}" class="addlink" title="{% trans 'Import NFTs via JSON' %}">
      {% trans 'Importar via JSON' %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:nft_nftitem_generate_promo_image' %}" class="addlink" title="{% trans 'Generate Promotional Image' %}" style="background-color: #19ff00; color: #0d2539;">
      {% trans 'Gerar Imagem Promocional' %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:nft_nftitem_sync_securehabbo' %}" class="addlink" title="{% trans 'Sync NFTs from SecureHabbo' %}" style="background-color: #417690; color: white;">
      🔄 {% trans 'Sincronizar NFTs SecureHabbo' %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:nft_nftitem_download_links' %}" class="addlink" title="{% trans 'Download NFT Links' %}" style="background-color: #28a745; color: white;">
      📥 {% trans 'Download Links TXT' %}
    </a>
  </li>
{% endblock %}
